.logo_cabecalho{
    width: 60 px;
    margin-left: 200px;
    margin-top: 60px;
}
.cabecalho{
    background-color:#01e5d6;
    display: flex;
}
  .lista_cabecalho{
    display: flex;
    margin-left: 280px;
    margin-top: 70px;
  }
  .item_lista_cabecalho{
    color: #537375;
    list-style: none;
    text-transform: uppercase;
    font-size:40px;
    padding: 25px;
  }
.logocabecalho{
width: 100px;
}
.jjjj{
  width: 300px;
}
  .iii{
    width: 300px;
  }
  .uu{
    font-size: 200px;
  }

