.logo_cabecalho{
    width: 60 px;
    margin-left: 200px;
    margin-top: 60px;
}
.cabecalho{
    background-color:#01e5d6;
}00a
  .lista_cabecalho{
    display: flex;
    margin-left: 280px;
  }
  .item_lista_cabecaho{
    color: #537375;
    list-style: none;
    text-transform: uppercase;
    font-size: 90px;
    padding: 25px;
  }
  .logo